<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/src/main/resources/static/main.css">
    <meta charset="UTF-8">
    <title>Teknologi Eksamenspørgsmål</title>
</head>
<body>

<ul>
    <li><a href="http://localhost:8080">Start</a> </li>
    <li><a href="http://localhost:8080/område1">Område 1</a></li>
    <li><a href="http://localhost:8080/område2">Område 2</a></li>
    <li><a href="http://localhost:8080/område3">Område 3</a></li>
    <li><a href="http://localhost:8080/område4">Område 4</a></li>
    <li><a href="http://localhost:8080/webservice">Webservice</a></li>
</ul>

<div>
    <h2 style="font-family: Verdana, Serif">Programmet arbejder med de 4 læringsmålsområder</h2> <br>
        <h3 style="font-family: Verdana, Serif">Område 1:   Cloud, Operativ systemer, Database <br>
            Område 2:   Talsystemer, Debug <br>
            Område 3:   Samtidighedsproblematikker <br>
            Område 4:   Computernetværk <br>
            Webservice: Test område af webservice</h3>
        <h3 style="font-family: Verdana,Serif">
            Miniprojekt udarbejdet af: <br>
            Albert Bek Jørgensen: <br>
            email: albe194e@stud.kea.dk <br> <br>

            Afleveringsfrist: 27/11 - 2022
        </h3>
</div>


<nav>


</nav>

</body>
</html>