<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/src/main/resources/static/main.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
  <li><a href="http://localhost:8080">Start</a> </li>
  <li><a href="http://localhost:8080/område1">Område 1</a></li>
  <li><a href="http://localhost:8080/område2">Område 2</a></li>
  <li><a href="http://localhost:8080/område3">Område 3</a></li>
  <li><a href="http://localhost:8080/område4">Område 4</a></li>
  <li><a href="http://localhost:8080/webservice">Webservice</a></li>
</ul>

<div>
  <h2>Computernetværk</h2>
</div>
<ul role="tablist">
  <li><button onclick="change(this)" class="questionButton" id="1">1</button></li>
  <li><button onclick="change(this)" class="questionButton" id="2">2</button></li>
  <li><button onclick="change(this)" class="questionButton" id="3">3</button></li>
  <li><button onclick="change(this)" class="questionButton" id="4">4</button></li>
  <li><button onclick="change(this)" class="questionButton" id="5">5</button></li>
  <li><button onclick="change(this)" class="questionButton" id="6">6</button></li>
  <li><button onclick="change(this)" class="questionButton" id="7">7</button></li>
  <li><button onclick="change(this)" class="questionButton" id="8">8</button></li>
  <li><button onclick="change(this)" class="questionButton" id="9">9</button></li>
</ul>

<div>
  <div id="div1"> <h2>Sprøgsmål 1: Beskriv en computers hardware <br></h2>
    <h3>Svar: </h3></div>
  <div style="display: none" id="div2"> <h2>Sprøgsmål 2: Beskriv Azure Cloud og hvad du kan bruge den til <br></h2>
    <h3>Svar: </h3></div>
  <div style="display: none" id="div3"> <h2>Sprøgsmål 3: Hvad er Raspberry Pi og hvad kan det bruges til? <br></h2>
    <h3>Svar: </h3></div>
  <div style="display: none" id="div4"><h2>Sprøgsmål 4: Hvilke typer harddiske findes i en computer og hvad er forskellen på dem? <br></h2>
    <h3>Svar: </h3></div>
  <div style="display: none" id="div5"><h2>Sprøgsmål 5: Hvilke typer busser findes der i en computer? <br></h2>
    <h3>Svar: </h3></div>
  <div style="display: none" id="div6"><h2>Sprøgsmål 6: Computernetværk: Hvad er forskellen på IP og MAC? <br></h2>
    <h3>Svar: </h3></div>
  <div style="display: none" id="div7"><h2>Sprøgsmål 7: Hvilke typer kategorier findes der for en PSU og hvad betyder de? <br></h2>
    <h3>Svar: </h3></div>
  <div style="display: none" id="div8"><h2>Sprøgsmål 8: Hvad er forskellen på RAM og Harddisk? <br></h2>
    <h3>Svar: </h3></div>
  <div style="display: none" id="div9"><h2>Sprøgsmål 9: Hvad er et DBMS MySQL og hvad kan det bruges til? <br></h2>
    <h3>Svar: </h3></div>
</div>

</body>
<script>

  function change(element) {

    element.style.color =
            document.getElementById('div1').style.display = "none"
    document.getElementById('div2').style.display = "none"
    document.getElementById('div3').style.display = "none"
    document.getElementById('div4').style.display = "none"
    document.getElementById('div5').style.display = "none"
    document.getElementById('div6').style.display = "none"
    document.getElementById('div7').style.display = "none"
    document.getElementById('div8').style.display = "none"
    document.getElementById('div9').style.display = "none"

    switch (element.id){
      case '1': document.getElementById('div1').style.display = "block"
        break
      case '2': document.getElementById('div2').style.display = "block"
        break
      case '3': document.getElementById('div3').style.display = "block"
        break
      case '4': document.getElementById('div4').style.display = "block"
        break
      case '5': document.getElementById('div5').style.display = "block"
        break
      case '6': document.getElementById('div6').style.display = "block"
        break
      case '7': document.getElementById('div7').style.display = "block"
        break
      case '8': document.getElementById('div8').style.display = "block"
        break
      case '9': document.getElementById('div9').style.display = "block"
        break
    }
  }

</script>
</html>