<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/main.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="http://localhost:8080">Start</a> </li>
    <li><a href="http://localhost:8080/område1">Område 1</a></li>
    <li><a href="http://localhost:8080/område2">Område 2</a></li>
    <li><a href="http://localhost:8080/område3">Område 3</a></li>
    <li><a href="http://localhost:8080/område4">Område 4</a></li>
    <li><a href="http://localhost:8080/webservice">Webservice</a></li>
</ul>

<form action="https://api.nationalize.io" method="post" target="_blank">
    <label>Navn: </label> <br>
        <input type="text" placeholder="Skriv navn her" name="name"> <br>
    <button type="submit">Tryk her</button>


</form>

</body>
</html>